.QuestionsWidget {
    position: absolute;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.QuestionsWidget.QuestionsWidget_end {
    text-align: center;
    display: grid;
    width: 200px;
    gap: 14px;
}

.QuestionsWidget .QuestionsWidget-header {
    display: flex;
    align-items: center;
    gap: 14px;
    padding-bottom: 14px;
}

.Button2_view_action::before {
    background-color: var(--color-alert);
    transition: background-color .15s linear;
}

.Button2_view_action:not([aria-disabled='true']):hover::before {
    background-color: var(--color-alert);
}

.Button2_view_action {
    color: var(--color-normal);
    transition: transform .1s ease-out, color .15s linear;
    transform: scale(1);
    padding: 0 14px
}

.Button2_view_action:not([aria-disabled='true']):hover {
    color: #fff;
}